body {
	font-size: 12px;
	background: #F2F1F1;
}

.ui-datatable.tb-fornecedor-to .ui-widget-content,.ui-datatable.tbfornecedorto .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	font-size: 12px;
}

.label-form {
	font-weight: bold;
}

.campo-form {
	
}

.button-form {
	margin: 0 10px;
}

.ui-panel {
	border-color: #F2F1F1;
}

.ui-layout-pane-west .ui-menu {
	border-color: #F2F1F1;
	margin: 0px;
	padding: 0px;
}

.ui-dialog-titlebar {
	cursor: default !important;
}

input {
	width: 300px;
}

textarea {
	resize: none !important;
	overflow-y: scroll !important;
	height: 100px;	
	width: 300px;
}